<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronNBA</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
        <nav class="nav">
            <span>
                <a class = "nav-bar-link" href="/">Home</a>
            </span>
            <span>
                <a class = "nav-bar-link" href="/beers">Beers</a>
            </span>
            <span>
                <a class = "nav-bar-link"  href="/random-beer">Random beer</a>
            </span>
        </nav>
   
 
    {{{ body }}} 
  </body>
</html>
